<a href="https://colab.research.google.com/github/Soullida/KangCS/blob/main/20220110_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Slincing

In [9]:
import numpy as np
a = ['one','two','three','four','five']
a[1:] # 시작점 포함하여 슬라이싱

['two', 'three', 'four', 'five']

In [10]:
a[3:]

['four', 'five']

In [20]:
a[-3:] # 음수는 -1부터 시작, 방향은 뒤에서부터 시작점부터 슬라이싱

['three', 'four', 'five']

In [26]:
a[:3] # 시작점 제외하고 슬라이싱 ex) 0,1,2

['one', 'two', 'three']

In [27]:
a[:-2] # 주어진 값 제외하고 앞 출력

['one', 'two', 'three']

In [33]:
a[:-5] # 주어진 배열보다 값을 지나치게 입력하여 출력해도 오류가 생성되지 않고 list 디폴트 값으로 출력됨

[]

In [37]:
a[2:4] # 2번째 포함, 4번째 제외 앞 값 출력

['three', 'four']

In [45]:
a[1][0:1] # 두번째 값의 0:1 값

't'

In [54]:
a[2][0::2] # start:end:step step만큼 문자를 건너뛰면서, 위와 동일하게 추출

'tre'

Python list value access and exchange

In [ ]:
# a.append() : 리스트 맨 끝의 항목에 추가하기 
# a.insert() : 리스트 중간에 원하는 위치(index)에 값을 추가하기
# del a[] : 인덱스를 이용하여 삭제를 원하는 위치의 값을 삭제하기
# a.remove() : 저장되어 있는 값을 불러서 삭제하기
# b = a.pop() => b = ['five'] a = ['one','two','three','four'] # pop() 아무것도 쓰지 않으면 맨 마지막 값을 반환하고 리스트에서 삭제

Python list 결합 및 연산, index(), in 문법 사용

In [71]:
# a = ['one','two','three','four']
# b = ['one','two','three']
# c = a + b
# print(c) -> ['one', 'two', 'three', 'four', 'one', 'two', 'three'] 중복 값 상관 없이 연산된다.

# cout = c.index('three') 
# print(cout) # 맨 처음 three의 순서 값 출력

# 찾고자 하는 값 in 자료 구조(리스트)
# find_c = 'five'
# result = find_c('five'도 입력 가능) in c
# print(result) -> False
# result = 'one' in c
# print(result) -> True

False

In [75]:
text = '파이썬 수업 진짜 좋아요. 파이썬 고수가 되고 싶어요!'
print(len(text))
print(text[3:10])  # 문자열 슬라이싱

30

In [77]:
input = '20211225Snow'
output = '2021년 12월 25일 날씨:Snow'
a = input[0:4]
print(a)
b = input[4:8]
print(b)
c = input[6:8]
d = input[8:]
print(a+'년 '+b+'월 '+c+'일', '날씨:'+d)

2021
1225
2021년 1225월 25일 날씨:Snow

In [78]:
print('I eat %d Sushi' %3) # int는 %d를 이용하여 포맷팅
number = 3
print('I eat %d Sushi' %number)

I eat 3 Sushi
I eat 3 Sushi

In [79]:
text = 'five'
print('I eat %s Sushi' %text) # str은 %d가 아닌 %s를 이용하여 포맷팅
number = 3
print('I eat %d Sushi and %d Seafood' %(number, number)) 
print('I eat %d Sushi and %s Seafood' %(number, text))

I eat five Sushi
I eat 3 Sushi and 3 Seafood
I eat 3 Sushi and five Seafood

In [80]:
print('I got 4.5  score of Python')
print('I got %f score of Python' %4.5)
print('I got %0.1f score of Python' %4.5)
print('--------------------------------------------')
'I got {0} score of Python'.format('four point five')
print('I got {0} score of Python'.format('four point five'))

I got 4.5  score of Python
I got 4.500000 score of Python
I got 4.5 score of Python
--------------------------------------------
I got four point five score of Python

In [81]:
a = 'I got {0} score of Python'
b = a.format('four point five')
print(b)

I got four point five score of Python

In [82]:
a = 'I got {0}, {1} score of Python'
print(a)
b = a.format('four point five','A')
print(b)

I got {0}, {1} score of Python
I got four point five, A score of Python

In [83]:
a = 'I got {score}, {grade} score of Python'
b = a.format(score = '4.5', grade = 'A') # 변수형태로 넣고 변수를 정해주는 것
print(b)

I got 4.5, A score of Python

In [84]:
name = '강창석'
age = int('31')
print(f'내 이름은 {name}이라고 해. 나는 먹는걸 좋아하고 나이는 {age+1}이야.')

내 이름은 강창석이라고 해. 나는 먹는걸 좋아하고 나이는 32이야.

In [86]:
a = '스시에 소주. 치킨에 양주. 삼겹에 소맥'
a.count('소주') # 몇 개 나오는지 세어주는 count 함수
print(a.count('소주')) 
a.find('삼겹') # find 함수가 무엇이지
print(a.find('삼겹'))

1
16

In [87]:
a = 'I like Python'
a.replace('Python', 'Sushi')
print(a.replace('Python', 'Sushi'))

I like Sushi

In [88]:
a = 'I like Python. I love Python'
a.split()
print(a.split()) # 어떤 것을 기준으로 문장을 쪼개는 것
a.split(sep='.')
print(a.split(sep='.'))

['I', 'like', 'Python.', 'I', 'love', 'Python']
['I like Python', ' I love Python']

In [91]:
print('My name is * str(5)')
print('My name is ' + 'str(5)')
print('My name is ' + str(5))

My name is * str(5)
My name is str(5)
My name is 5

In [94]:
print(type('5'))
print(type(int('5')))

<class 'str'>
<class 'int'>

In [101]:
#python_score = int(input('파이썬 과목에서 획득한 점수를 입력하세요: '))
score = int(input('운전면허 필기 점수를 입력하세요: '))
print(score >= 70)

TypeError: ignored

In [103]:
num1 = int(input('첫번째 수: '))
num2 = int(input('두번째 수: '))
print(num1//num2)

TypeError: ignored

In [105]:
from datetime import datetime
import pandas as pd
def df_maker(col_num, ind_num, fill):
    col=[]
    ind=[]
    con=[]
    for i in range(0,col_num):
        col.append(fill)
    for i in range(0,ind_num):
        ind.append(fill)
    for i in range(0,ind_num):
        con.append(col)
    return pd.DataFrame(con, columns=col, index=ind)
df=df_maker(6,2,0)
col = ['coffee','gimbap','banana_milk','lunch_box','coke','shrimp_cracker']
ind = ['buy','sell']
df.columns = col
df.index = ind

df['coffee'] = [500,1800]
df['gimbap'] = [900,1400]
df['banana_milk'] = [800,1800]
df['lunch_box'] = [3500,4000]
df['coke'] = [700,1500]
df['shrimp_cracker'] = [1000,2000]
print(df)

      coffee  gimbap  banana_milk  lunch_box  coke  shrimp_cracker
buy      500     900          800       3500   700            1000
sell    1800    1400         1800       4000  1500            2000